.topBar {
  margin: 2rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.topBar button {
  width: 100%;
}
.attendanceDetailContainer {
  display: grid;
  grid-template-columns: repeat(1, max(33rem));
  gap: 6rem 2rem;
  margin: auto;
  margin-top: 10px;
  justify-content: center;
}

.noAttendanceContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  margin: 2rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .topBar button {
    width: 20rem;
  }
  .attendanceDetailContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 6rem 2rem;
    margin-left: 10px;
    margin-right: 10px;
  }
}
